.service-planning

  .filters

    .month

      label(for='monthPicker') Mėnuo:

      .input-group

        input.form-control#monthPicker(
        type='text'
        uib-datepicker-popup='yyyy.MM'
        ng-model='vm.monthDate'
        is-open='vm.monthPickerOpen'
        datepicker-options="{minMode: 'month'}"
        datepicker-mode="'month'"
        ng-click='vm.monthPickerOpen = !vm.monthPickerOpen'
        )

        span.input-group-btn
          button.btn.btn-default(type='button' ng-click='vm.monthPickerOpen = !vm.monthPickerOpen')
            i.glyphicon.glyphicon-calendar

    .serving-master

      //label Meistras

      vfs-dropdown(
      items-data-source-name='Employee'
      ng-model='vm.servingMasterId'
      placeholder="Pasirintike Meistrą"
      disable-edit="true"
      disable-add="true"
      )

    .space

    .search
      vfs-searcher(search='vm.searchText')

    //.buttons
      a(href ng-click='vm.exportAllClick()' title='Atsisiųsti Excel')
        i.glyphicon.glyphicon-download-alt
        span Atsisiųsti viską


  .planning(cg-busy='vm.cgBusy')

    .headers

      .service-point Klientas
      .filter-system Filtravimo sistema
      //.serving-master Aptarnavimo meistras
      .last-service-date Paskutinis
      .next-service-date Kitas

    .scroll-y(
    resize resize-offset-top='5'
    vs-repeat
    )
      .service-item(
      ng-repeat='item in vm.groupedDataFiltered track by item.id'
      ng-class='{overdue: vm.month > item.nextServiceDate}'
      ng-switch='item.cls'
      )
        h4.serving-master(ng-switch-when='group')
          .name {{ item.servingMaster.name || 'Aptarnavimo meistras nepaskirtas' }}
          .options
            .report
              a(href ng-click='vm.reportClick(item)' title='Paroditi reportą')
                i.glyphicon.glyphicon-book
            .export
              a(href ng-click='vm.exportClick(item)' title='Atsisiųsti Excel')
                i.glyphicon.glyphicon-download-alt

        .service-point(ng-switch-default)
          a(
          href ng-click='vm.servicePointClick(item)'
          ng-class='{"not-ready": !item.serviceItem.servicePoint.isReady}'
          )
            .name {{ item.serviceItem.servicePoint.currentServiceContract.customer().name }}
            .address {{ item.serviceItem.servicePoint.address }}

        .filter-system(ng-switch-default)
          a(href ng-click='vm.filterSystemClick(item)') {{ item.serviceItem.filterSystem.name }}

        .last-service-date(ng-switch-default) {{ item.lastServiceDate | amDateFormat }}

        .next-service-date(ng-switch-default ng-switch="item.serviceStatus")

          .served(
          ng-switch-when="service"
          ) Aptarnautas {{ ::item.service.date | amDateFormat }}

          .served(
          ng-switch-when="forward"
          ) Perkeltas į {{ ::item.serviceItem.nextServiceDate | amDateFormat }}

          span.is-paused(
          ng-switch-when="pause"
          ) Sustabdytas nuo {{ item.serviceItem.pausedFrom | amDateFormat }}

          service-planning-service(
          service-planning="item"
          month-date="vm.monthDate"
          ng-switch-when="serving"
          )
