.edit-service-point

  .form

    .site

      label Aptarnaujantis padalinys

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.siteId'
      items-data-source-name='Site'
      items-name-property='name'
      placement='bottom-left'
      )

    .district

      label Apskritis

      vfs-dropdown(
      ng-model='vm.districtId'
      items-data-source-name='District'
      items-name-property='name'
      placement='bottom-left'
      )

    .locality(ng-if='vm.districtId')

      label Gyvenomoji Vieta

      vfs-dropdown(
      ng-required='true'
      items-data-source-name='Locality'
      items-name-property='name'
      ng-model='vm.localityId'
      filter='{districtId: vm.districtId}'
      placement='bottom-left'
      )

    .street(ng-if='vm.localityId')

      label Gatvė

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.streetId'
      items-data-source-name='Street'
      items-name-property='name'
      filter='{localityId: vm.localityId}'
      placement='bottom-left'
      )

    .field-group

      .house

        label(for='house') Namas

        input#house.form-control(
        autocomplete='off'
        placeholder='Namo numeris'
        ng-model='vm.servicePoint.house'
        )

      .apartment

        label(for='apartment') Butas

        input#apartment.form-control(
        autocomplete='off'
        placeholder='Buto numeris'
        ng-model='vm.servicePoint.apartment'
        )

      .apartment

        label(for='doorCode') Durų kodas

        input#doorCode.form-control(
        autocomplete='off'
        placeholder='Jeigu yra'
        ng-model='vm.servicePoint.doorCode'
        )

    //.address
      label(for='address') Adresas
      input#address.form-control(
      autocomplete='off'
      placeholder='Adresas'
      readonly
      ng-model='vm.servicePoint.address'
      )

    .type

      label Patalpos tipas

      .btn-group
        label.btn.btn-default(
        ng-model='vm.servicePoint.type'
        uib-btn-radio="'Gyvenomoji'" uib-uncheckable='false'
        ) Gyvenomoji
        label.btn.btn-default(
        ng-model='vm.servicePoint.type'
        uib-btn-radio="'Negyvenomoji'" uib-uncheckable='false'
        ) Negyvenomoji

    .name
      label(for='name') Patalpos pavadinimas
      input#name.form-control(
      autocomplete='off'
      placeholder='Jeigu yra'
      ng-model='vm.servicePoint.name'
      )

    .contract

      label Sutartis

      vfs-dropdown(
      ng-model='vm.servicePoint.currentServiceContractId'
      items-data-source-name='ServiceContract'
      items-name-property='name'
      placement='bottom-left'
      filter='{siteId: vm.servicePoint.siteId}'
      )

