.edit-service-point

  .form

    .site
      label Aptarnaujantis padalinys
      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.siteId'
      items-data-source-name='Site'
      items-name-property='name'
      save-to='vm.servicePoint'
      save-to-property='siteId'
      placement='bottom-left'
      )

    .address
      label(for='address') Adresas
      input#address.form-control(
      autocomplete='off'
      placeholder='Adresas'
      ng-model='vm.servicePoint.address'
      )

    .legal-type

      label Patalpos tipas

      .btn-group
        label.btn.btn-default(
        ng-model='vm.servicePoint.type'
        uib-btn-radio="'Gyvenomosis'" uib-uncheckable='false'
        ) Gyvenomoji
        label.btn.btn-default(
        ng-model='vm.servicePoint.type'
        uib-btn-radio="'Negyvenomosis'" uib-uncheckable='false'
        ) Negyvenomoji

    .name
      label(for='name') Pavadinimas
      input#name.form-control(
      autocomplete='off'
      placeholder='Pavadinimas'
      ng-model='vm.servicePoint.name'
      )

