.edit-service-point
    .name
      label(for='name') Pavadinimas
      input#name.form-control(
      autocomplete='off'
      placeholder='Pavadinimas'
      ng-model='vm.servicePoint.name'
      )

    .address
      label(for='address') Adresas
      input#address.form-control(
      autocomplete='off'
      placeholder='Adresas'
      ng-model='vm.servicePoint.address'
      )
  .form

    .site
      label Padalinys
      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.siteId'
      items-data-source-name='Site'
      items-name-property='name'
      save-to='vm.servicePoint'
      save-to-property='siteId'
      placement='bottom-left'
      )