.edit-service-point

  .form(ng-if='vm.ready')

    .site(ng-if='vm.servicePoint.id')

      label Aptarnaujantis padalinys

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.siteId'
      items-data-source-name='Site'
      items-name-property='name'
      placement='bottom-left'
      ready-state='vm.readyState.siteId'
      )

    fieldset.contract(ng-disabled='!vm.servicePoint.siteId')

      label Sutartis

      vfs-dropdown(
      ng-model='vm.servicePoint.currentServiceContractId'
      auto-new='{{!vm.servicePoint.id && "true" || ""}}'
      items-data-source-name='ServiceContract'
      items-name-property='name'
      placement='bottom-left'
      filter='{siteId: vm.servicePoint.siteId}'
      ready-state='vm.readyState.currentServiceContractId'
      )

    .field-group

      .district

        label Apskritis

        vfs-dropdown(
        ng-model='vm.districtId'
        items-data-source-name='District'
        items-name-property='name'
        placement='bottom-left'
        ready-state='vm.readyState.districtId'
        )

      .locality(ng-disabled='!vm.districtId')

        label Gyvenamoji Vieta

        vfs-dropdown(
        ng-required='true'
        items-data-source-name='Locality'
        items-name-property='name'
        ng-model='vm.servicePoint.localityId'
        filter='{districtId: vm.districtId}'
        placement='bottom-left'
        ready-state='vm.readyState.localityId'
        )

    .field-group

      .street(ng-disabled='!vm.servicePoint.localityId')

        label Gatvė

        vfs-dropdown(
        ng-required='true'
        ng-model='vm.servicePoint.streetId'
        items-data-source-name='Street'
        items-name-property='name'
        filter='{localityId: vm.servicePoint.localityId}'
        placement='bottom-left'
        ready-state='vm.readyState.streetId'
        )

      .house

        label(for='house') Namas

        input#house.form-control(
        autocomplete='off'
        placeholder='Namo numeris'
        ng-model='vm.servicePoint.house'
        )

      .apartment

        label(for='apartment') Butas

        input#apartment.form-control(
        autocomplete='off'
        placeholder='Buto numeris'
        ng-model='vm.servicePoint.apartment'
        )

    .field-group

      .name
        label(for='name') Patalpos pavadinimas
        input#name.form-control(
        autocomplete='off'
        placeholder='Jeigu yra'
        ng-model='vm.servicePoint.name'
        )

      .door-code

        label(for='doorCode') Durų kodas

        input#doorCode.form-control(
        autocomplete='off'
        placeholder='Jeigu yra'
        ng-model='vm.servicePoint.doorCode'
        )

      .type

        label Patalpos tipas

        .button-container

          label.btn.btn-default(
          ng-model='vm.servicePoint.type'
          uib-btn-radio="'Gyvenamoji'" uib-uncheckable='false'
          ) Gyvenamoji

          label.btn.btn-default(
          ng-model='vm.servicePoint.type'
          uib-btn-radio="'Negyvenamoji'" uib-uncheckable='false'
          ) Negyvenamoji

    .info

      label(for='info') Pastaba

      textarea#info.form-control(
      placeholder='Komentaras arba paaiškinimas'
      ng-model='vm.servicePoint.info'
      )

    .info

      label(for='gifts') Dovanos

      textarea#gifts.form-control(
      ng-model='vm.servicePoint.gifts'
      )
