.edit-service-item-service.form

  .field-group


    .field.date

      label Aptarnavimo data

      sab-date-picker-input(
      value='vm.serviceItemService.date'
      ng-required='true'
      placeholder='privaloma'
      )

    .field.serving-master

      label Aptarnavimo meistras

      vfs-dropdown(
      items-data-source-name='Employee'
      ng-model='vm.serviceItemService.servingMasterId'
      ready-state='vm.readyState.servingMasterId'
      )

  .field.info
    textarea.form-control(
    placeholder='Papildomai aptarnavo'
    ng-model='vm.serviceItemService.info'
    )
