.edit-service-item-service.form

  .field-group

    .field.date
      sab-date-picker-input(
      value='vm.serviceItemService.date'
      placeholder='Aptarnavimo data'
      )

    .field.info
      input.form-control(
      placeholder='Pastaba aptarnavimui'
      ng-model='vm.serviceItemService.info'
      )

  .field.serving-master

    label Aptarnavimo meistras

    vfs-dropdown(
    items-data-source-name='Employee'
    ng-model='vm.serviceItemService.servingMasterId'
    ready-state='vm.readyState.servingMasterId'
    )
