.edit-service-item-service.form

  .field-group


    .field.date

      label Aptarnavimo data

      sab-date-picker-input(
      value='vm.serviceItemService.date'
      ng-required='true'
      placeholder='privaloma'
      )

    .field.type

      service-type-switch(ng-model="vm.serviceItemService.type")

  .field-group

    .field.service-type(ng-if="vm.serviceItemService.serviceType || vm.serviceItemService.serviceSchema")

      label Aptarnavimo tipas

      vfs-dropdown(
      items-data-source-name='ServiceType'
      ng-model='vm.serviceItemService.serviceType'
      ready-state='vm.readyState.serviceType'
      )

    .field.serving-master

      label Aptarnavimo meistras

      vfs-dropdown(
      items-data-source-name='Employee'
      ng-model='vm.serviceItemService.servingMasterId'
      ready-state='vm.readyState.servingMasterId'
      )

  .field.info
    textarea.form-control(
    placeholder='Papildomai aptarnavo'
    ng-model='vm.serviceItemService.info'
    )

  .field.info
    textarea.form-control(
    placeholder='Pastaba sekančiam aptarnavimui'
    ng-model='vm.serviceItemService.nextServiceInfo'
    )