.edit-street

  .form

    .district
      label Apskritis

      vfs-dropdown(
      ng-required
      items-data-source-name='District'
      items-name-property='name'
      save-to='vm'
      save-to-property='districtId'
      placement='bottom-left'
      ready-state='vm.readyState.districtId'
      )

    .locality
      label Gyvenamoji Vieta

      vfs-dropdown(
      ng-required
      items-data-source-name='Locality'
      items-name-property='name'
      save-to='vm.street'
      save-to-property='localityId'
      placement='bottom-left'
      filter='{districtId: vm.districtId}'
      ready-state='vm.readyState.localityId'
      )

    .name
      label(for='name') Pavadinimas

      input#name.form-control(
      autocomplete='off'
      placeholder='Pavadinimas'
      ng-required
      ng-model='vm.street.name'
      )