.edit-filter-system

  .form

    .brand
      label Prekės Ženklas

      vfs-dropdown(
      ready-state='vm.readyState.brandId'
      items-data-source-name='Brand'
      ng-model='vm.filterSystem.brandId'
      )

    .filter-system-type
      label Filtravimo Sistemos Tipas

      vfs-dropdown(
      ready-state='vm.readyState.filterSystemTypeId'
      items-data-source-name='FilterSystemType'
      ng-model='vm.filterSystem.filterSystemTypeId'
      )

    .name
      label(for='name') Filtravimo Sistemos Modelis

      input#name.form-control(
      autocomplete='off'
      placeholder='Filtravimo Sistemos Modelis'
      ng-model='vm.filterSystem.name'
      )

    .service-frequency
      label(for='frequency') Aptarnavimo Dažnumas

      input#service-frequency.form-control(
      autocomplete='off'
      placeholder='{{ vm.filterSystem.filterSystemType.serviceFrequency || "Mėnesių skaičius" }}'
      type='number'
      ng-model='vm.filterSystem.serviceFrequency'
      ng-step='1'
      ng-min='0'
      ng-max='24'
      )

    .service-price
      label(for='service-price') Aptarnavimo kaina

      input#service-price.form-control(
      autocomplete='off'
      type='number'
      placeholder='{{ vm.filterSystem.filterSystemType.servicePrice || "Eurų už aptarnavimą" }}'
      ng-model='vm.filterSystem.servicePrice'
      ng-min='0'
      )

    .guarantee-period
      label(for='frequency') Garantinis laikotarpis

      input#frequency.form-control(
      autocomplete='off'
      type='number'
      placeholder='{{ vm.filterSystem.filterSystemType.guaranteePeriod || "Mėnesių skaičius" }}'
      ng-model='vm.filterSystem.guaranteePeriod'
      ng-min='0'
      )

