.edit-filter-system

  .form

    .brand
      label Prekės Ženklas

      vfs-dropdown(
      items-data-source-name='Brand'
      items-name-property='name'
      save-to='vm.filterSystem'
      save-to-property='brandId'
      placement='bottom-left'
      )

    .filter-system-type
      label Filtravimo Sistemos Tipas

      vfs-dropdown(
      items-data-source-name='FilterSystemType'
      items-name-property='name'
      save-to='vm.filterSystem'
      save-to-property='filterSystemTypeId'
      placement='bottom-left'
      )

    .model
      label(for='model') Filtravimo Sistemos Modelis

      input#model.form-control(
      type='text'
      autocomplete='off'
      placeholder='Filtro Sistemos Modelis'
      ng-model='vm.filterSystem.model'
      )