.edit-filter-system

  .form

    .filter-system-type
      label Filtravimo sistemos Tipas

      vfs-dropdown(
      ready-state='vm.readyState.filterSystemTypeId'
      items-data-source-name='FilterSystemType'
      ng-model='vm.filterSystem.filterSystemTypeId'
      )

    .brand
      label Prekės ženklas

      vfs-dropdown(
      ready-state='vm.readyState.brandId'
      items-data-source-name='Brand'
      ng-model='vm.filterSystem.brandId'
      )

    .name
      label(for='filterSystemName') Modelis

      input#filterSystemName.form-control(
      autocomplete='off'
      required
      placeholder='Modelio numeris'
      ng-model='vm.filterSystem.name'
      )

    .service-frequency
      label(for='frequency') Aptarnavimo dažnumas

      input#service-frequency.form-control(
      autocomplete='off'
      placeholder='{{ vm.filterSystem.filterSystemType.serviceFrequency || "Mėnesių skaičius" }}'
      type='number'
      ng-model='vm.filterSystem.serviceFrequency'
      ng-step='1'
      ng-min='0'
      ng-max='24'
      )

    .service-price
      label(for='service-price') Aptarnavimo kaina

      input#service-price.form-control(
      autocomplete='off'
      type='number'
      placeholder='{{ vm.filterSystem.filterSystemType.servicePrice || "Eurų už aptarnavimą" }}'
      ng-model='vm.filterSystem.servicePrice'
      ng-min='0'
      )

    .small-service-price
      label(for='small-service-price') Pusmetinio aptarnavimo kaina

      input#small-service-price.form-control(
      autocomplete='off'
      type='number'
      placeholder='{{ vm.filterSystem.filterSystemType.servicePrice || "Eurų už aptarnavimą" }}'
      ng-model='vm.filterSystem.smallServicePrice'
      ng-min='0'
      )

    .guarantee-period
      label(for='frequency') Garantinis laikotarpis

      input#frequency.form-control(
      autocomplete='off'
      type='number'
      placeholder='{{ vm.filterSystem.filterSystemType.guaranteePeriod || "Mėnesių skaičius" }}'
      ng-model='vm.filterSystem.guaranteePeriod'
      ng-min='0'
      )

