.edit-filter-system

  .form

    .brand
      label Prekės Ženklas

      vfs-dropdown(
      items-data-source-name='Brand'
      items-name-property='name'
      save-to='vm.filterSystem'
      save-to-property='brandId'
      placement='bottom-left'
      )

    .filter-system-type
      label Filtravimo Sistemos Tipas

      vfs-dropdown(
      items-data-source-name='FilterSystemType'
      items-name-property='name'
      save-to='vm.filterSystem'
      save-to-property='filterSystemTypeId'
      placement='bottom-left'
      )

    .model
      label(for='name') Filtravimo Sistemos Modelis

      input#name.form-control(
      autocomplete='off'
      placeholder='Filtro Sistemos Modelis'
      ng-model='vm.filterSystem.name'
      )

    .service-frequency
      label(for='frequency') Aptarnavimo Dažnumas

      input#service-frequency.form-control(
      autocomplete='off'
      placeholder='Mėnesių skaičius'
      type='number'
      ng-model='vm.filterSystem.serviceFrequency'
      ng-step='1'
      ng-min='0'
      ng-max='24'
      )

    .service-price
      label(for='service-price') Aptarnavimo kaina

      input#service-price.form-control(
      autocomplete='off'
      type='number'
      placeholder='Eurų už aptarnavimą'
      ng-model='vm.filterSystem.servicePrice'
      ng-min='0'
      )

    .guarantee-period
      label(for='frequency') Garantinis laikotarpis

      input#frequency.form-control(
      autocomplete='off'
      type='number'
      placeholder='Mėnesių skaičius'
      ng-model='vm.filterSystem.guaranteePeriod'
      ng-min='0'
      )

