.filter-system(cg-busy='vm.cgBusy')

  navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

  .filter-system-list
    .scroll-y(
    resize
    resize-offset-top='5'
    )
      .filter-brand(
      ng-repeat='brand in vm.brands track by brand.id'
      ng-hide='!foundFilter.length'
      )

        h2 {{brand.name}}

        .headers
          .filter-system-type Tipas
          .filter-model Modelis

        //.no-res.warn-block(ng-if='!foundFilter.length') Filtrų Nerasta

        .filter-system(
        ng-repeat='filterSystem in brand.filterSystems | filter: vm.searchText | orderBy: "model" as foundFilter track by filterSystem.id'
        ng-click='vm.openModal(filterSystem)'
        )

          .filter-system-type {{filterSystem.filterSystemType.name}}
          .filter-model {{filterSystem.model}}