.edit-service-contract

  .form

    .site(ng-if='!vm.hideSite')
      label Aptarnaujantis padalinys

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.serviceContract.siteId'
      items-data-source-name='Site'
      )

    .field-group

      .date-picker
        label Data
        sab-date-picker-input(value='vm.serviceContract.date')

      .num
        label(for='num') Numeris
        input#num.form-control(
        required
        autocomplete='off'
        placeholder='Numeris'
        ng-model='vm.serviceContract.num'
        )

    .legal-type

      label Kliento tipas

      .btn-group
        label.btn.btn-default(
        ng-model='vm.serviceContract.legalType'
        uib-btn-radio="'Asmuo'" uib-uncheckable='false'
        ) Asmuo
        label.btn.btn-default(
        ng-model='vm.serviceContract.legalType'
        uib-btn-radio="'Įmonė'" uib-uncheckable='false'
        ) Įmonė

    .customer-legal-entity(ng-if='vm.serviceContract.legalType === "Įmonė"')
      label Įmonė

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.serviceContract.customerLegalEntityId'
      items-data-source-name='LegalEntity'
      ready-state='vm.readyState.customerLegalEntityId'
      )

    .customer-person(ng-if='vm.serviceContract.legalType === "Asmuo"')
      label Asmuo

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.serviceContract.customerPersonId'
      items-data-source-name='Person'
      ready-state='vm.readyState.customerPersonId'
      )

    .service-points(ng-if='vm.serviceContract.id && vm.serviceContract.servicePoints.length')

      label Aptarnavimo taškai

      .list-group

        .list-group-item.service-point(ng-repeat='servicePoint in vm.serviceContract.servicePoints track by servicePoint.id')
          .list-group-item-data(ng-click='vm.listGroupItemClick(servicePoint)')
            .list-group-item-heading.address {{ servicePoint.address }}
            .service-item(
            ng-repeat='serviceItem in servicePoint.servingItems track by serviceItem.id'
            ) {{ serviceItem.filterSystem.brand.name }} {{ serviceItem.filterSystem.name }} {{ serviceItem.info }}