.edit-service-contract

  .form

    .site
      label Aptarnaujantis padalinys

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.siteId'
      items-data-source-name='Site'
      items-name-property='name'
      save-to='vm.serviceContract'
      save-to-property='siteId'
      placement='bottom-left'
      )

    .date
      label Data

      sab-date-picker(
      value='vm.serviceContract.date'
      )

    .num
      label(for='num') Numeris

      input#num.form-control(
      required
      autocomplete='off'
      placeholder='Numeris'
      ng-model='vm.serviceContract.num'
      )

    .legal-type

      label Kliento tipas

      .btn-group
        label.btn.btn-default(
        ng-model='vm.serviceContract.legalType'
        uib-btn-radio="'Asmuo'" uib-uncheckable='false'
        ) Asmuo
        label.btn.btn-default(
        ng-model='vm.serviceContract.legalType'
        uib-btn-radio="'Įmonė'" uib-uncheckable='false'
        ) Įmonė

    .customer-legal-entity(ng-if='vm.serviceContract.legalType === "Įmonė"')
      label Įmonė

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.customerLegalEntityId'
      items-data-source-name='LegalEntity'
      items-name-property='name'
      save-to='vm.serviceContract'
      save-to-property='customerLegalEntityId'
      placement='bottom-left'
      )

    .customer-person(ng-if='vm.serviceContract.legalType === "Asmuo"')
      label Asmuo

      vfs-dropdown(
      ng-required='true'
      ng-model='vm.servicePoint.customerPersonId'
      items-data-source-name='Person'
      items-name-property='name'
      save-to='vm.serviceContract'
      save-to-property='customerPersonId'
      placement='bottom-left'
      )