.service-point-sidenav

  .search-add
    vfs-searcher(
    search='vm.searchText'
    )
    button-add(button-click='vm.addClick()')

  #sidenav-scroll-list.scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat='{{::vm.servicePointHeight}}'
  vs-excess='10'
  elem-ready='vm.onScrollListReady()'
  )
    .service-point(
    ng-repeat='servicePoint in vm.servicePoints track by servicePoint.id'
    ng-click='vm.servicePointClick(servicePoint)'
    ng-class='{active: servicePoint.id === vm.currentServicePointId, "not-ready": !servicePoint.isReady}'
    )
      .name
        span.is-paused(ng-if="servicePoint.isPaused") ⏸
        span {{ servicePoint.currentServiceContract.customer().name}}
      .address {{ servicePoint.address }}
      .badge {{ servicePoint.servingItemsLazy().length }}
