.service-point-sidenav

  vfs-searcher(
  search='vm.searchText'
  )

  #sidenav-scroll-list.scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  elem-ready='vm.restoreScrollPosition()'
  )
    .service-point(
    ng-repeat='servicePoint in vm.servicePoints track by servicePoint.id'
    ng-click='vm.servicePointClick(servicePoint)'
    ng-class='{active: servicePoint.id === vm.currentServicePointId}'
    )
      .name {{servicePoint.name}}
      .address {{servicePoint.address}}
      .badge {{ servicePoint.servingItemsLazy().length }}
