.service-point-sidenav

  searcher

  #sidenav-scroll-list.scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  elem-ready='vm.restoreScrollPosition()'
  )
    .service-point(
    ng-repeat='servicePoint in vm.servicePoints | orderBy: "name" track by servicePoint.id'
    ng-click='vm.servicePointClickFn(servicePoint)'
    ng-class='{active: servicePoint.id === vm.currentServicePointId}'
    )
      .name {{servicePoint.name}}
      .address {{servicePoint.address}}
