.service-point-detailed
  .sub-nav
    .filter-user
      .user-address {{vm.servicePoint.address}}
      .users(ng-repeat='servicePointContact in vm.servicePoint.servicePointContact track by servicePointContact.id')
        span {{servicePointContact.person.firstName}} {{servicePointContact.person.lastName}}
        a(href='tel:{{ employee.phoneInfo.phone}}') {{ servicePointContact.person.phone }}

    .buttons
      button.btn.btn-warning(
      ng-click=''
      )
        i.glyphicon.glyphicon-edit

  .service-point-items

    .header
      .header-1 Naudotojo Įrenginiai
      .button
        button.btn.btn-warning(
        ng-click=''
        )
          i.glyphicon.glyphicon-plus

    .headers
      .filter-system Filtro Sistema
      .assembler Montavimo Meistras
      .serving-master Aptarnavimo Meistras
      .edit-button

    .scroll-y(
    resize
    resize-offset-top='5'
    )
      .service-point-item(
      ng-repeat='item in vm.servicePoint.servingItems track by item.id'
      ng-mouseenter='vm.onItemHover(item)' ng-mouseleave='vm.onItemHover()'
      )
        .filter-system
          span {{item.filterSystem.brand.name}} {{item.filterSystem.model}}
          span(ng-if='!item.filterSystem.brand.name') {{item.info}}
        .assembler {{item.installingMaster.name}}
        .serving-master {{item.servingMaster.name}}
        .edit-button
          i.glyphicon.glyphicon-pencil(
          ng-click='vm.editItem(item)'
          ng-if='vm.showIcon && vm.currHoverId === item.id'
          )
