.service-point-master(
cg-busy='vm.cgBusy'
ng-class='{"detailed-state": vm.isDetailedState}'
)
  service-point-sidenav(
  ng-if='vm.servicePointId'
  service-points='vm.data'
  current-service-point-id='vm.servicePointId'
  current-idx='vm.idx'
  service-point-click-fn='vm.servicePointClick'
  add-click='vm.addClick()'
  promise='vm.promise'
  )

  .ui-view

    navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

    service-point-list(
    service-points='vm.servicePoints'
    service-point-click-fn='vm.servicePointClick'
    )
