.service-point-details.scroll-y(resize resize-offset-top='5')

  .address

    .header

      //.chapter-name
        //i.glyphicon.glyphicon-map-marker
        //span Adresas

      .button-block
        button-edit(button-click='vm.editServicePointClick(vm.servicePoint)')

    .service-point-location

      .service-point-map
        ng-map(
        ng-class='{"no-geolocation": vm.noGeoPosition}'
        center='[{{vm.coords.lat}}, {{vm.coords.lng}}]'
        id='smallMap'
        ng-if='vm.googleReady'
        disable-default-u-i='true'
        zoom='13'
        min-zoom='13'
        max-zoom='13'
        scrollwheel='false'
        draggable='false'
        ng-click='vm.mapClick()'
        )
          marker(
          ng-if='!vm.noGeoPosition'
          position='{{vm.coords.lat}}, {{vm.coords.lng}}',
          animation='DROP'
          draggable='true'
          )


      .service-point-add-info
        .point-address {{vm.servicePoint.address}}

        .contract
          .text-warning(ng-if='vm.servicePoint.currentServiceContractId === null') Nera aptarnavimo sutarties
          a(
          href ng-click='vm.serviceContractClick()'
          ng-if='vm.servicePoint.currentServiceContract'
          ) {{vm.servicePoint.currentServiceContract.name}}

        .currentServiceContract
        .customer

  .service-point-pictures

    .header

      .chapter-name
        i.glyphicon.glyphicon-picture
        span Nuotraukos

      .button-block
        button-add(
        ng-class='{"disabled-add-button" : vm.uploadingPicture}'
        ngf-select
        ngf-change='vm.onChangeFile($file)'
        ngf-accept="'image/*'"
        ngf-max-size='10MB'
        ng-model='vm.file'
        )

    .picture-gallery

      .service-point-picture.scroll-y(resize)

        img(
        ng-repeat='picture in vm.servicePoint.pictures track by picture.id'
        ng-src='{{picture.thumbnailHref}}'
        ng-click='vm.photoClick(picture)'
        ng-dblclick='vm.editPhoto(picture)'
        )

        .loading-img(ng-if='vm.uploadingPicture')

          span(ng-if='vm.progress.uploading')
            | {{(vm.progress.uploading.loaded / vm.progress.uploading.total) * 100 || 0 | number: 0}} %

          .progress-info
            .loading-spinner(
            ng-if='vm.progress.uploading.loaded === vm.progress.uploading.total && vm.progress.uploading.loaded && vm.uploadingPicture'
            )
              .uil-ripple-css
                div

          .success-msg(ng-if='!vm.progress.uploading')
            span Įkelta

      .more-photos(
      ng-if='vm.servicePoint.pictures.length'
      ng-class='{"more-photos-hidden": !vm.scrollToGallery, "more-photos-visible": vm.scrollToGallery}'
      )
        button.btn
          i.glyphicon.glyphicon-chevron-down

  .contacts

    .header

      .chapter-name
        i.glyphicon.glyphicon-user
        span Kontaktai

      .button-block
        button-add(button-click='vm.addContactClick()')


    .service-point-contacts

      .contact(
      ng-if='vm.servicePoint.currentServiceContract.customerPersonId'
      )
        span.name {{ vm.servicePoint.currentServiceContract.customerPerson.name }}
        a.phone(
        href='{{ vm.servicePoint.currentServiceContract.customerPerson.telHref }}'
        ng-click='$event.stopPropagation()'
        ) {{ vm.servicePoint.currentServiceContract.customerPerson.phone | ltphone}}

      .contact(
      ng-repeat='servicePointContact in vm.servicePoint.servicePointContacts track by servicePointContact.id'
      ng-click='vm.servicePointContactClick(servicePointContact)'
      )
        span.name {{ servicePointContact.person.name }}
        a.phone(
        href='{{servicePointContact.person.telHref}}'
        ng-click='$event.stopPropagation()'
        ) {{ servicePointContact.person.phone | ltphone }}

      //.contact(ng-if='vm.servicePoint.servicePointContacts.length === 0')
        span.name Kontaktų nėra
        a(href ng-click='vm.addContractPerson()') Pridėti kontaktą

  .items

    .header

      .chapter-name
        i.glyphicon.glyphicon-tint
        span Įrenginiai

      .button-block
        button-add(
        button-click='vm.addServiceItemClick()'
        )

    .service-point-items(ng-if='vm.servicePoint.servingItems.length')

      .service-point-list

        .headers
          .filter-system Filtravimo Sistema
          .installing-master Montavimas
          .serving-master Aptarnavimas
          //.service-contract Sutartis

        .scroll-y(
        resize
        resize-offset-top='15'
        )
          .service-point-item(
          ng-repeat='item in vm.servicePoint.servingItems track by item.id'
          ng-class='{"has-changes": item.DSHasChanges()}'
          ng-click='vm.editServiceItemClick(item)'
          )

            .filter-system
              span {{ item.filterSystem.brand.name }} {{ item.filterSystem.name }}
              span(ng-if='!item.filterSystem.brand.name') {{ item.info }}

            .installing-master
              span.master {{ item.installingMaster.name }}
              span.date {{ item.installingDate }}

            .serving-master
              span {{ item.servingMaster.name }}
              span.date {{ item.lastServiceDate }}

            //.service-contract
              span(ng-if='item.currentServiceContract')
                | {{ item.currentServiceContract.num }} nuo {{ item.currentServiceContract.date }}