.service-point-details.scroll-y(resize resize-offset-top='5')


  .address

    .header

      .chapter-name
        i.glyphicon.glyphicon-map-marker
        span Adresas

      .button-block
        button-edit(button-click='vm.editServicePointClick(vm.servicePoint)')


    .service-point-location

      .service-point-map
        img(src='images/dummyMap3.png')

      .service-point-address
        .point-address {{vm.servicePoint.address}}
        .site {{vm.servicePoint.site.declension()}} padalinys

  .service-point-pictures

    .header

      .chapter-name
        i.glyphicon.glyphicon-picture
        span Taško Nuotraukos

      .button-block
        button-add(
        ng-class='{"disabled-add-button" : vm.uploadingPicture}'
        ngf-select
        ngf-change='vm.onChangeFile($file)'
        ngf-accept="'image/*'"
        ngf-max-size="10MB"
        ng-model="vm.file"
        )

    .picture-gallery

      .service-point-picture.scroll-y(resize)

        img(
        ng-repeat='picture in vm.servicePoint.pictures track by picture.id'
        ng-src='{{picture.thumbnailHref}}'
        ng-click='vm.photoClick(picture)'
        ng-dblclick='vm.editPhoto(picture)'
        )

        .loading-img(ng-if='vm.uploadingPicture')

          span(ng-if='vm.progress.uploading') {{(vm.progress.uploading.loaded / vm.progress.uploading.total) * 100 || 0 | number: 0}} %
          .progress-info
            .loading-spinner(
            ng-if='(vm.progress.uploading.loaded === vm.progress.uploading.total) && vm.progress.uploading.loaded !== undefined             && vm.uploadingPicture'
            )
              .uil-ripple-css
                div

          .success-msg(ng-if='!vm.progress.uploading')
            span Įkelta

      .more-photos(
      ng-class='{"more-photos-hidden": !vm.scrollToGallery, "more-photos-visible": vm.scrollToGallery}'
      )
        button.btn
          i.glyphicon.glyphicon-chevron-down

  .users

    .header

      .chapter-name
        i.glyphicon.glyphicon-user
        span Kontaktai

      .button-block
        button-add(button-click='vm.addContractPerson()')


    .service-point-contacts

      .contact(
      ng-repeat='servicePointContact in vm.servicePoint.servicePointContacts track by servicePointContact.id'
      ng-click='vm.editContractPerson(servicePointContact)'
      )
        span.name {{servicePointContact.person.firstName}} {{servicePointContact.person.lastName}}
        a.phone(ng-click='vm.phoneTo($event, servicePointContact.person.phone)') {{ servicePointContact.person.phone }}

      .contact(ng-if='vm.servicePoint.servicePointContacts.length === 0')
        span.name Kontaktų nėra
        a(href ng-click='vm.addContractPerson()') Pridėti kontaktą


  .items

    .header

      .chapter-name
        i.glyphicon.glyphicon-tint
        span Įrenginiai

      .button-block
        button-add(
        button-click='vm.addItemClick()'
        popover-placement='auto bottom-right'
        popover-is-open='vm.isOpenAddPopover'
        uib-popover-template='"/app/domain/servicePoint/details/addItem.html"'
        popover-title='Įrenginio Papildymas'
        popover-append-to-body='false'
        )

    .service-point-items

      .service-point-list

        .headers
          .filter-system Filtro Sistema
          .installing-master Montuotojas
          .serving-master Aptarnavimo Meistras
          .service-contract Sutartis
          .action

        .scroll-y(
        resize
        resize-offset-top='15'
        )
          .service-point-item(
          ng-repeat='item in vm.servicePoint.servingItems track by item.id'
          ng-class='{"has-changes": item.DSHasChanges()}'
          )

            .filter-system
              span {{ item.filterSystem.brand.name }} {{ item.filterSystem.model }}
              span(ng-if='!item.filterSystem.brand.name') {{ item.info }}

            .installing-master {{ item.installingMaster.name }}

            .serving-master {{ item.servingMaster.name }}

            .service-contract
              span(ng-if='item.currentServiceContract')
                | {{ item.currentServiceContract.num }} nuo {{ item.currentServiceContract.date }}

            button.btn.action.btn-default.btn-xs(
            ng-click='vm.editItemClick(item)'
            popover-placement='auto bottom-right'
            popover-is-open='vm.isOpenEditPopover[item.id]'
            uib-popover-template='"/app/domain/servicePoint/details/editItem.html"'
            popover-title='Įrenginio Modifikavimas'
            popover-append-to-body='false'
            )
              i.glyphicon.glyphicon.glyphicon-option-horizontal