.service-point-details

  .service-point

    .service-point-info
      .address {{vm.servicePoint.address}}
      .service-point-contacts
        .contact(ng-repeat='servicePointContact in vm.servicePoint.servicePointContacts track by servicePointContact.id')
          span.name {{servicePointContact.person.firstName}} {{servicePointContact.person.lastName}}
          a.phone(href='tel:{{ servicePointContact.person.phone }}') {{ servicePointContact.person.phone }}

    .button-block
      button.btn.btn-warning(ng-click='vm.editServicePointClick(vm.servicePoint)')
        i.glyphicon.glyphicon-edit

  .service-point-items

    .header
      .header-text-1 Įrenginiai
      .button-block
        button.btn.btn-warning.action(
        ng-click='vm.addItemClick()'
        )
          i.glyphicon.glyphicon-plus

    .service-point-list

      .headers
        .filter-system Filtro Sistema
        .installing-master Montuotojas
        .serving-master Aptarnavimo Meistras
        .service-contract Sutartis
        .action

      .scroll-y(
      resize
      resize-offset-top='5'
      )
        .service-point-item(
        ng-repeat='item in vm.servicePoint.servingItems track by item.id'
        ng-class='{"has-changes": item.DSHasChanges()}'
        )

          .filter-system
            span {{ item.filterSystem.brand.name }} {{ item.filterSystem.model }}
            span(ng-if='!item.filterSystem.brand.name') {{ item.info }}

          .installing-master {{ item.installingMaster.name }}

          .serving-master {{ item.servingMaster.name }}

          .service-contract
            span(ng-if='item.currentServiceContract')
              | {{ item.currentServiceContract.num }} nuo {{ item.currentServiceContract.date }}

          button.btn.action.btn-default(
          ng-click='vm.editItemClick(item)'
          popover-placement='auto bottom-right'
          popover-is-open='vm.isOpenEditPopover[item.id]'
          uib-popover-template='"/app/domain/servicePoint/editItem/editItem.html"'
          popover-title='Įrenginio Modifikavimas'
          popover-append-to-body='false'
          )
            i.glyphicon.glyphicon.glyphicon-option-horizontal
