.service-point-details.scroll-y(resize resize-offset-top='5')

  .address

    .service-point-location

      .service-point-map

        .loading-spinner(ng-if='vm.busy || vm.coordsSearch')
          .uil-ripple-css
            div

        ng-map(
        ng-class='{"no-geolocation": vm.noGeoPosition}'
        center='[{{vm.coords.lat}}, {{vm.coords.lng}}]'
        id='smallMap'
        ng-if='vm.googleReady && !vm.coordsSearch'
        disable-default-u-i='true'
        zoom='13'
        min-zoom='13'
        max-zoom='13'
        scrollwheel='false'
        draggable='false'
        ng-click='vm.mapClick()'
        )
          marker(
          ng-if='!vm.noGeoPosition'
          position='[{{vm.coords.lat}}, {{vm.coords.lng}}]',
          animation='DROP'
          draggable='true'
          )

      .service-point-add-info
        .point-address {{vm.servicePoint.address}}

        .contract
          .text-warning(ng-if='vm.servicePoint.currentServiceContractId === null') Nėra aptarnavimo sutarties
          a(
          href ng-click='vm.serviceContractClick()'
          ng-if='vm.servicePoint.currentServiceContractId'
          ) {{vm.servicePoint.currentServiceContract.name}}

    .button-block
      button-edit(button-click='vm.editServicePointClick(vm.servicePoint)')

  .service-point-pictures

    .header

      .chapter-name
        i.glyphicon.glyphicon-picture
        span Nuotraukos

      .button-block
        button-add(
        ng-class='{"disabled-add-button" : vm.uploadingPicture}'
        ngf-select
        ngf-change='vm.onChangeFile($file)'
        ngf-accept="'image/*'"
        ngf-max-size='10MB'
        ng-model='vm.file'
        )

    .picture-gallery

      .service-point-picture.scroll-y(resize)

        img(
        ng-repeat='picture in vm.servicePoint.pictures track by picture.id'
        ng-src='{{picture.thumbnailHref}}'
        ng-click='vm.photoClick(picture)'
        ng-dblclick='vm.editPhoto(picture)'
        )

        .loading-img(ng-if='vm.uploadingPicture')

          span(ng-if='vm.progress.uploading')
            | {{(vm.progress.uploading.loaded / vm.progress.uploading.total) * 100 || 0 | number: 0}} %

          .progress-info
            .loading-spinner(
            ng-if=
            'vm.progress.uploading.loaded === vm.progress.uploading.total &&' +
            'vm.progress.uploading.loaded && vm.uploadingPicture'
            )
              .uil-ripple-css
                div

          .success-msg(ng-if='!vm.progress.uploading')
            span Įkelta

      .more-photos(
      ng-if='vm.servicePoint.pictures.length'
      ng-class='{"more-photos-hidden": !vm.scrollToGallery, "more-photos-visible": vm.scrollToGallery}'
      )
        button.btn
          i.glyphicon.glyphicon-chevron-down

  .contacts

    .header

      .chapter-name
        i.glyphicon.glyphicon-user
        span Kontaktai

      .button-block
        button-add(button-click='vm.addContactClick()')

    .service-point-contacts

      .contact(
      ng-repeat='contact in vm.contactPersons track by $index'
      )
        a.name(
        href
        ng-click='vm.personNameClick($event, contact.person)'
        ) {{ contact.person.name }}

        .phones(ng-if='contact.person.allPhones().length')
          span.title Telefonai
          a(
          ng-repeat='phone in contact.person.allPhones() track by $index'
          ng-click='$event.stopPropagation()'
          href='{{phone.href}}'
          ) {{phone.address | ltphone}}


        .emails(ng-if='contact.person.allEmails().length')
          span.title El. paštai
          a(
          ng-repeat='email in contact.person.allEmails() track by $index'
          ng-click='$event.stopPropagation()'
          href='{{email.href}}'
          ) {{email.address}}

        .delete-btn(
        ng-if='contact.servicePointContact'
        ng-click='vm.deleteServicePointContactClick(contact)'
        ng-class='{"confirm-destroy" : vm.confirmDestroy[contact.person.id]}'
        )
          i.glyphicon.glyphicon-trash

  .items

    .header

      .chapter-name
        i.glyphicon.glyphicon-tint
        span Įrenginiai

      .button-block
        button-add(
        button-click='vm.addServiceItemClick()'
        )

    .service-point-items(ng-if='vm.servicePoint.servingItems.length')

      .service-point-list

        .headers
          .filter-system Filtravimo Sistema
          .installing-master Montavimas
          .serving-master Aptarnavimas
          //.service-contract Sutartis

        .service-point-items

          .service-point-item(
          ng-repeat='item in vm.servicePoint.servingItems track by item.id'
          ng-class='{"has-changes": item.DSHasChanges()}'
          ng-click='vm.editServiceItemClick(item)'
          )

            .filter-system
              span {{ item.filterSystem.brand.name }} {{ item.filterSystem.name }}
              .info(ng-if='item.info') {{ item.info }}

            .installing-master
              span.master {{ item.installingMaster.name }}
              span.date(ng-if='item.installingDate') {{ item.installingDate }}

            .serving-master
              span {{ item.servingMaster.name }}
              span.date(ng-if='item.lastServiceDate') {{ item.lastServiceDate }}

            //.service-contract
              span(ng-if='item.currentServiceContract')
                | {{ item.currentServiceContract.num }} nuo {{ item.currentServiceContract.date }}