.editing.modal-header

  h1 {{vm.title}}
    .lead(ng-if="vm.lead") {{ vm.lead }}

  a.close-btn(href='', ng-click='vm.cancelClick()')
    i.glyphicon.glyphicon-remove

.modal-body(ng-repeat='componentName in [vm.componentName] track by componentName')

  //p {{ vm.readyState | json }}

  transform-to-component(
  component-name='{{ componentName }}'
  ng-model='vm.item'
  has-changes='vm.componentHasChanges'
  is-valid='vm.componentIsValid'
  save-fn='vm.saveFn'
  ready-state='vm.readyState'
  etc="vm.etc"
  )

.modal-footer

  button.btn.destroy(
  ng-if='vm.editing && vm.item.id'
  ng-class="vm.confirmDestroy ? 'btn-danger' : 'btn-default'"
  ng-click='vm.destroyClick()'
  ) Ištrinti

  button.btn.btn-default.editing(
  ng-if='vm.editingEnabled'
  ng-click="vm.editing = !vm.editing"
  ) {{ vm.editing ? 'Parodyti' : 'Keisti' }}

  button.btn.btn-success.save.animate-show(
  ng-show='vm.hasChanges()'
  ng-disabled='!vm.isReady()'
  ng-click='vm.saveFormDataClick(vm.readyState)'
  ) Išsaugoti

  button.btn.cancel(
  ng-class='vm.hasChanges() ? "btn-warning" : "btn-primary"'
  ng-click='vm.cancelClick()'
  ) {{ vm.hasChanges() ? 'Atšaukti' : 'Uždaryti' }}
