form.service-point-item-edit

  fieldset

    .field

      label(for='service-point-item-edit-info') Pastaba:

      input.form-control#service-point-item-edit-info(
      autocomplete='off'
      ng-model='item.info'
      )

    .field

      label Filtro Sistema:

      vfs-dropdown(
      model-name='FilterSystem'
      current='item.filterSystem'
      destination='model'
      current-model='item'
      id-to-rewrite='filterSystemId'
      )

    .field

      label Montuotojas:

      vfs-dropdown(
      model-name='Employee'
      current='item.installingMaster'
      destination='name'
      current-model='item'
      id-to-rewrite='installingMasterId'
      )

    .field

      label Aptarnavimo Meistras:

      vfs-dropdown(
      model-name='Employee'
      current='item.servingMaster'
      destination='name'
      current-model='item'
      id-to-rewrite='servingMasterId'
      )

  .footer

    button.btn.btn-default.btn-sm(
    ng-click='vm.editItemCancelClick(item)'
    ) Atšaukti

    button.btn.btn-success.btn-sm(
    ng-click='vm.editItemSaveClick(item)'
    ng-disabled='!item.DSHasChanges()'
    ) Išsaugoti