form.service-point-item-edit

  fieldset

    .field

      label(for='service-point-item-edit-info') Pastaba:

      input.form-control#service-point-item-edit-info(
      autocomplete='off'
      ng-model='vm.item.info'
      )

    .field

      label Filtro Sistema:

      vfs-dropdown(
      items-data-source-name='FilterSystem'
      items-name-property='model'
      save-to='vm.item'
      save-to-property='filterSystemId'
      )

    .field

      label Montuotojas:

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      save-to='vm.item'
      save-to-property='installingMasterId'
      )

    .field

      label Aptarnavimo Meistras:

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      save-to='vm.item'
      save-to-property='servingMasterId'
      )

  .footer

    button.btn.btn-success.btn-sm.animate-show.ng-hide(
    ng-click='vm.saveClick()'
    ng-disabled='!vm.item.isValid()'
    ng-show='!vm.item.id || vm.item.DSHasChanges()'
    ) Išsaugoti

    button.btn.btn-default.btn-sm(
    ng-click='vm.cancelClick()'
    ) Atšaukti

