.service-point-item-edit

  .filter-system-dropdown

    label Filtro Sistema:

    vfs-dropdown(
    model-name='FilterSystem'
    current='item.filterSystem'
    destination='model'
    current-model='item'
    id-to-rewrite='filterSystemId'
    )

  .installing-master-dropdown

    label Montuotojas:

    vfs-dropdown(
    model-name='Employee'
    current='item.installingMaster'
    destination='name'
    current-model='item'
    id-to-rewrite='installingMasterId'
    )

  .serving-master-dropdown

    label Aptarnavimo Meistras:

    vfs-dropdown(
    model-name='Employee'
    current='item.servingMaster'
    destination='name'
    current-model='item'
    id-to-rewrite='servingMasterId'
    )