.edit-legal-entity

  .form

    .name
      label(for='name') Pavadinimas
      input#name.form-control(
      autocomplete='off'
      required
      placeholder='Privaloma'
      ng-model='vm.legalEntity.name'
      )

    .field-group
      .code
        label(for='code') Įmonės kodas
        input#code.form-control(
        autocomplete='off'
        ng-model='vm.legalEntity.code'
        )
      .vat-code
        label(for='vat-code') PVM kodas
        input#vat-code.form-control(
          autocomplete='off'
          ng-model='vm.legalEntity.vatCode'
        )
      .iban
        label(for='iban') IBAN
        input#iban.form-control(
          autocomplete='off'
          ng-model='vm.legalEntity.iban'
        )

    address-form(ng-model="vm.legalEntity" ready-state="vm.readyState")

    entity-contacts.contact-methods.field-group(
    source="LegalEntity"
    entity="vm.legalEntity"
    save-fn="vm.saveContacts"
    is-valid="vm.contactsIsValid"
    has-changes="vm.contactsHasChanges"
    )
