.edit-legal-entity

  .form

    .name
      label(for='name') Pavadinimas
      input#name.form-control(
      autocomplete='off'
      placeholder='Pavadinimas'
      ng-model='vm.legalEntity.name'
      )

    .code
      label(for='code') Imonės kodas
      input#code.form-control(
      autocomplete='off'
      placeholder='Imonės kodas'
      ng-model='vm.legalEntity.code'
      )