.edit-employee

  .form

    .site(ng-if='vm.employee.id')

      label Padalinys

      vfs-dropdown(
      items-data-source-name='Site'
      ng-model='vm.employee.siteId'
      ready-state='vm.readyState.siteId'
      )

    .person

      label Asmuo

      vfs-dropdown(
      auto-new='true'
      items-data-source-name='Person'
      ng-model='vm.employee.personId'
      ready-state='vm.readyState.personId'
      )

    //.avatar-picture

      label Fotografija

      img(ng-src='{{ vm.employee.person.avatarPicture.thumbnailHref || "../../../images/placeholder.png" }}')