.map-modal

  .modal-header

    h3 {{ vm.title }}

  #modal-body.modal-body

    div(resize resize-offset-top='115' resize-property='height')
      ng-map(
      ng-if='vm.isReady'
      style='height: inherit;',
      center='[{{ vm.coords.lat() }}, {{ vm.coords.lng() }}]'
      zoom='{{ vm.zoom }}'
      )
        marker(
        position='{{ vm.coords.lat()}} {{ vm.coords.lng() }}'
        animation='DROP'
        draggable='true'
        )

  .modal-footer
    button.btn.btn-success.save(
    ng-repeat='button in vm.buttons'
    ng-click='button.onClick(vm)'
    ) {{ button.title }}
