.edit-filter-system-type

  .form

    .name
      label(for='name') Pavadinimas

      input#name.form-control(
      autocomplete='off'
      placeholder='Pavadinimas'
      ng-model='vm.filterSystemType.name'
      )

    .code
      label(for='code') Kodas

      input#code.form-control(
      autocomplete='off'
      placeholder='Kodas'
      ng-model='vm.filterSystemType.code'
      )

    .service-frequency
      label(for='frequency') Aptarnavimo Dažnumas

      input#frequency.form-control(
      autocomplete='off'
      placeholder='Mėnesių skaičius'
      ng-model='vm.filterSystemType.serviceFrequency'
      )