.service-type-switch.btn-group

  label.btn.btn-default(
  ng-model='vm.type'
  uib-btn-radio="'service'"
  uib-uncheckable='false'
  ) Įvykdytas

  label.btn.btn-default(
  ng-model='vm.type'
  uib-btn-radio="'forward'"
  uib-uncheckable='false'
  ) Perkelti

  label.btn.btn-default(
  ng-model='vm.type'
  uib-btn-radio="'pause'"
  uib-uncheckable='false'
  ) Sustabdyti