.edit-person

  .form

    .first-name
      label(for='first-name') Vardas

      input#first-name.form-control(
      required
      auto-focus
      autocomplete='off'
      placeholder='Privaloma'
      ng-model='vm.person.firstName'
      ng-paste='vm.onPasteFirstName($event)'
      )

    .last-name

      label(for='last-name') Pavardė

      input#last-name.form-control(
      required
      autocomplete='off'
      placeholder='Privaloma'
      ng-model='vm.person.lastName'
      )

    .code
      label(for='code') Asmens kodas

      input#code.form-control(
      autocomplete='off'
      ng-model='vm.person.code'
      )

    .contact-method(
    ng-repeat='contactMethod in vm.contactMethods track by contactMethod.id'
    ng-class='[contactMethod.code, {"input-error": vm.errorsByCode[contactMethod.code]}]'
    )
      label(for='{{contactMethod.code}}') {{contactMethod.name}}

      input.form-control(
      id='{{contactMethod.code}}'
      autocomplete='off'
      placeholder='{{contactMethod.code === "email" ? contactMethod.name : ""}}'
      ng-model='vm[contactMethod.code]'
      data-ui-options='vm.maskOptions'
      ng-paste='vm.onPaste(contactMethod)'
      ui-mask='{{ vm.currentInputMask(contactMethod) }}'
      ng-keypress='vm.onEnterPress($event, contactMethod)'
      ng-blur='vm.onInputBlur(contactMethod)'
      )

      .contacts
        .contact(
        ng-repeat='item in vm.contactsByCode[contactMethod.code] track by $index'
        ng-class='{"confirm-destroy" : vm.confirmDestroy[item.address]}'
        )

          span {{ contactMethod.code === 'phone' ? (item.address | ltphone) : item.address }}

          a(
          href
          ng-click='vm.deleteContactClick(item, contactMethod.code)'
          )
            i.glyphicon.glyphicon-remove
