.edit-person

  .form

    .field-group

      .first-name
        label(for='first-name') Vardas

        input#first-name.form-control(
        required
        auto-focus
        autocomplete='off'
        placeholder='Privaloma'
        ng-model='vm.person.firstName'
        ng-paste='vm.onPasteFirstName($event)'
        )

      .last-name

        label(for='last-name') Pavardė

        input#last-name.form-control(
        required
        autocomplete='off'
        placeholder='Privaloma'
        ng-model='vm.person.lastName'
        )

      .code
        label(for='code') Asmens kodas

        input#code.form-control(
        autocomplete='off'
        ng-model='vm.person.code'
        )

    address-form(ng-model="vm.person" ready-state="vm.readyState")

    entity-contacts.contact-methods.field-group(
    source="Person"
    entity="vm.person"
    save-fn="vm.saveContacts"
    is-valid="vm.contactsIsValid"
    has-changes="vm.contactsHasChanges"
    )
      //.contact-method(
      //ng-repeat='contactMethod in vm.contactMethods track by contactMethod.id'
      //ng-class='[contactMethod.code, {"input-error": vm.errorsByCode[contactMethod.code]}]'
      //)
        label(for='edit-person-{{::contactMethod.code}}-address') {{contactMethod.name}}

        .field-group

          input.form-control.address(
          id='edit-person-{{::contactMethod.code}}-address'
          autocomplete='off'
          placeholder='{{contactMethod.code === "email" ? contactMethod.name : ""}}'
          ng-model='vm[contactMethod.code].address'
          data-ui-options='vm.maskOptions'
          ng-paste='vm.onPaste(contactMethod, $event)'
          ui-mask='{{ vm.currentInputMask(contactMethod) }}'
          sa-enter-key='vm.onEnterPress($event, contactMethod)'
          )

          input.form-control.info(
          id='edit-person-{{::contactMethod.code}}-info'
          autocomplete='off'
          ng-model='vm[contactMethod.code].info'
          sa-enter-key='vm.onEnterPress($event, contactMethod)'
          placeholder='pastaba'
          )

        .contacts
          .contact(
          ng-repeat='item in vm.contactsByCode[contactMethod.code] track by $index'
          ng-class='{"confirm-destroy" : vm.confirmDestroy[item.address]}'
          )

            a.edit(href ng-click='vm.contactEditClick(item)')
              span {{ contactMethod.code === 'phone' ? (item.address | ltphone) : item.address }}
              small.gray(ng-if='item.info') ({{ item.info }})

            a.remove(
            href
            ng-click='vm.deleteContactClick(item, contactMethod.code)'
            )
              i.glyphicon.glyphicon-remove
