.form-list

  .lead
    .title {{ vm.title }}
    a.btn.btn-link.add(href ng-click='vm.addClick()' ng-if='!vm.newItem') pridėti

  .edit-block(
  ng-if='vm.newItem'
  ng-class='vm.newItem.isValid(vm.readyState[0]) ? "vfs-valid" : "vfs-invalid"'
  )

    .title

      strong {{ vm.editTitle() }}

      .buttons

        a.btn.btn-link.save.animate-show(
        href ng-click='vm.saveClick($event)'
        ng-show='vm.newItem.isValid(vm.readyState[0])'
        )
          | išsaugoti

        a.btn.btn-link.cancel(href ng-click='vm.cancelClick($event)')
          | atšaukti

    transform-to-component(
    component-name='{{ ::vm.editItemComponentName() }}'
    ng-model='vm.newItem'
    ready-state='vm.readyState[0]'
    )

  .form-list-items

    .editable-list-item(
    ng-repeat='item in vm.items track by $index'
    )

      transform-to-component(
      component-name='{{ ::vm.showItemComponentName() }}'
      ng-model='item'
      )

      a.edit(href ng-click='vm.editClick(item)') keisti

      a.delete(
      href ng-click='vm.deleteItemClick(item)'
      ng-class='{"confirm-destroy": !item.id || vm.deleteConfirm === item.id}'
      ) {{ (item.id && vm.deleteConfirm === item.id) ? 'patvirtinti ištrynimą' : 'trinti' }}
