.edit-service-item

  .form

    .filter-system

      label Filtro Sistema:

      vfs-dropdown(
      items-data-source-name='FilterSystem'
      items-group-property='brand.name'
      save-to='vm.serviceItem'
      save-to-property='filterSystemId'
      ng-model='vm.serviceItem.filterSystemId'
      placement='bottom-left'
      )

    .installing-master

      label Montuotojas:

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      save-to='vm.serviceItem'
      save-to-property='installingMasterId'
      placement='bottom-left'
      )

    .serving-master

      label Aptarnavimo Meistras:

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      save-to='vm.serviceItem'
      save-to-property='servingMasterId'
      placement='bottom-left'
      )

    .info

      label(for='service-point-item-edit-info') Pastaba:

      input.form-control#service-point-item-edit-info(
      autocomplete='off'
      ng-model='vm.serviceItem.info'
      placeholder='Komentaras arba paaiškinimas'
      )