.edit-service-item

  .form

    .filter-system

      label Filtravimo Sistema

      vfs-dropdown(
      items-data-source-name='FilterSystem'
      items-group-property='brand.name'
      ng-model='vm.serviceItem.filterSystemId'
      placement='bottom-left'
      )

    .installing-master

      label Montuotojas

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      ng-model='vm.serviceItem.installingMasterId'
      placement='bottom-left'
      )

    .serving-master

      label Aptarnavimo Meistras

      vfs-dropdown(
      items-data-source-name='Employee'
      items-name-property='name'
      ng-model='vm.serviceItem.servingMasterId'
      placement='bottom-left'
      )

    .info

      label(for='service-point-item-edit-info') Pastaba:

      input.form-control#service-point-item-edit-info(
      autocomplete='off'
      ng-model='vm.serviceItem.info'
      placeholder='Komentaras arba paaiškinimas'
      )

    .field-group

      .installing-date

        label Montavimo data

        sab-date-picker-input(
        value='vm.serviceItem.installingDate'
        )

      .last-service-date

        label Paskutinė aptarnavimo data

        sab-date-picker-input(
        value='vm.serviceItem.lastServiceDate'
        )

    .field-group.animate-show(ng-show='vm.serviceItem.filterSystemId')

      .service-frequency
        label(for='frequency') Aptarnavimo Dažnumas

        input#service-frequency.form-control(
        autocomplete='off'
        placeholder='{{ vm.serviceItem.filterSystem.serviceFrequency || vm.serviceItem.filterSystem.filterSystemType.serviceFrequency || "Mėnesių skaičius" }}'
        type='number'
        ng-model='vm.serviceItem.serviceFrequency'
        ng-step='1'
        ng-min='0'
        ng-max='24'
        )

      .service-price
        label(for='service-price') Aptarnavimo kaina

        input#service-price.form-control(
        autocomplete='off'
        type='number'
        placeholder='{{ vm.serviceItem.filterSystem.servicePrice || vm.serviceItem.filterSystem.filterSystemType.servicePrice || "Eurų už aptarnavimą" }}'
        ng-model='vm.serviceItem.servicePrice'
        ng-min='0'
        )

      .guarantee-period
        label(for='frequency') Garantinis laikotarpis

        input#frequency.form-control(
        autocomplete='off'
        type='number'
        placeholder='{{ vm.serviceItem.filterSystem.guaranteePeriod || vm.serviceItem.filterSystem.filterSystemType.guaranteePeriod || "Mėnesių skaičius" }}'
        ng-model='vm.serviceItem.guaranteePeriod'
        ng-min='0'
        )