.show-service-item

  fieldset

    .lead.filter-system
      span {{ vm.serviceItem.filterSystem.brand.name }}
      span {{ vm.serviceItem.filterSystem.name }}
      small(ng-if='vm.serviceItem.info') ({{ vm.serviceItem.info }})

    .field-composite.installing-master
      strong {{ vm.serviceItem.installingMaster.name || 'Nežinoma kas' }}
      span montavo
      strong {{ vm.serviceItem.installingDate | amDateFormat }}

    .field-composite.serving-master
      strong {{ vm.serviceItem.servingMaster.name || 'Nežinoma kas' }}
      span {{ vm.serviceItem.lastServiceDate ? 'aptarnauja' : 'bus aptarnauti' }}
      //strong {{ vm.serviceItem.lastServiceDate | amDateFormat }}

    .field-composite
      span {{ vm.serviceItem.servicePrice ? 'Ypatinga' : 'Standartinė' }}
      span aptarnavimo kaina
      strong {{ vm.serviceItem.servicePriceFn() }}
      span €

    .field-composite
      span {{ vm.serviceItem.serviceFrequency ? 'Ypatingas' : 'Standartinis' }}
      span aptarnavimo dažnumas kas
      strong {{ vm.serviceItem.serviceFrequencyFn() }}
      span mėn.

    .field-composite(ng-if='!vm.serviceItem.guaranteePeriodFn()')
      label Garantijos nėra

    .field-composite(ng-if='vm.serviceItem.guaranteePeriodFn()')
      span {{ vm.serviceItem.guaranteePeriod ? 'Ypatingas' : 'Standartinis' }}
      span garantinis laikotarpis
      strong {{ vm.serviceItem.guaranteePeriodFn() }}
      span mėn. {{ vm.serviceItem.installingDate ? 'iki' : '' }}
      strong {{ vm.serviceItem.guaranteeEnd() | amCalendar }}

    .field-composite(ng-if='vm.serviceItem.nextServiceDate')
      span Kitas aptarnavimas
      strong {{ vm.serviceItem.nextServiceDate | amDateFormat  }}

    .field-composite(ng-if='vm.serviceItem.additionalServiceInfo')
      span Aptarnavimo pastaba
      strong {{ vm.serviceItem.additionalServiceInfo }}

  sab-form-list.service-item-services(
  data-title='Aptarnavimų istorija'
  ready-state='vm.readyState.services'
  data-filter='{serviceItemId: vm.serviceItem.id}'
  data-defaults='vm.itemServicesDefaults()'
  data-editing='vm.serviceItemServiceEditing'
  model-name='ServiceItemService'
  data-items='vm.serviceItemServices'
  )
