.employee-tiles

  //pre {{ vm.isOpenedEditPopover | json }}
  //pre {{vm.currItem}}

  .scroll-y(
  resize
  resize-offset-top='10'
  )

    .employee.tile(ng-repeat='employee in vm.employees track by employee.id')

      .photo
        img.placeholder(src='../../../images/placeholder.png')

      .info
        .first-name
          label  Vardas:
          span {{ employee.person.firstName }}
        .last-name
          label  Pavardė:
          span {{ employee.person.lastName}}
        .telephone
          label
            i.glyphicon.glyphicon-earphone
          a(
          href='tel:{{ employee.person.phone }}'
          ng-if='employee.person.phone'
          ) {{ employee.person.phone }}

      .buttons
        button.btn.btn-default(
        ng-click='vm.editItem(employee)'
        popover-placement='auto bottom-right'
        popover-is-open='vm.currentItem === employee.id'
        popover-trigger='"outsideClick"'
        uib-popover-template='"/app/domain/employee/employeeEditPopover/employeeEdit.html"'
        popover-title='Darbuotojo Redagavimas'
        popover-append-to-body='false'
        )
          i.glyphicon.glyphicon-edit
        button.btn.btn-default
          i.glyphicon.glyphicon-camera