.employee-tiles

  //pre {{ vm.isOpenedEditPopover | json }}
  //pre {{vm.currItem}}

  .scroll-y(
  resize
  resize-offset-top='10'
  )

    .employee.tile(
    ng-repeat='employee in vm.employees track by employee.id'
    cg-busy='vm.tileBusy[employee.id]'
    )

      a.avatarPicture(
      href ng-click='vm.avatarPhotoClick(employee.person.avatarPicture)'
      ng-if='employee.person.avatarPictureId'
      )
        img(
        ng-src='{{ employee.person.avatarPicture.thumbnailHref || "../../../images/placeholder.png" }}'
        )

      a.avatarPicture(
      href
      ng-if='!employee.person.avatarPictureId'
      ngf-select='vm.pictureSelect(employee, $file, $event)'
      )
        img.placeholder(
        src='../../../images/placeholder.png'
        )

      .info
        //.progress {{ vm.progress[employee.id].uploading }}
        .first-name
          label  Vardas:
          span {{ employee.person.firstName }}
        .last-name
          label  Pavardė:
          span {{ employee.person.lastName}}
        .telephone
          label
            i.glyphicon.glyphicon-earphone
          a(
          href='tel:{{ employee.person.phone }}'
          ng-if='employee.person.phone'
          ) {{ employee.person.phone }}

      .buttons
        button.btn.btn-default(
        ng-click='vm.editItemClick(employee)'
        )
          i.glyphicon.glyphicon-edit
        button.btn.btn-default(
        ngf-select='vm.pictureSelect(employee, $file, $event)'
        ngf-capture='"capture"'
        ng-model='vm.files'
        )
          i.glyphicon.glyphicon-camera