.search-add(ng-hide='vm.newItem')

  vfs-searcher.search(search='vm.search')

  button-add(button-click='vm.addItem()')

.scroll-y(
resize
resize-offset-top='15'
ng-if='!vm.newItem'
vs-repeat='34'
)

  .item(
  ng-repeat='item in vm.filteredData track by item.id'
  ng-class='{active : vm.currentItem.id === item.id}'
  ng-click='vm.itemClick(item)'
  )
    span {{item[vm.itemsNameProperty]}}

  .no-results(ng-if='!filteredData.length')
    span.no-res Rezultatų nerasta

.edit-block(ng-if='vm.newItem')

  transform-to-component(component-name='{{vm.editComponentName}}' instance='vm.newItem')

  .button-block

    button.btn.btn-success.animate-show.save(
    ng-click='vm.saveClick()'
    ng-disabled='!vm.newItem.isValid()'
    ) Išsaugoti

    button.btn.btn-default.cancel(
    ng-click='vm.cancelClick($event)'
    ) Atšaukti

