.search-add(ng-hide='vm.newItem')

  vfs-searcher.search(search='vm.search')

  button-add(button-click='vm.addClick()')

.scroll-y(
ng-if='!vm.newItem'
resize
resize-offset-top='15'
)

  .vfs-dropdown-items(vs-repeat='34')
    .vfs-dropdown-item(
    ng-repeat='item in vm.filteredData track by item.id'
    ng-class='{active : vm.currentItem.id === item.id}'
    ng-click='vm.itemClick(item)'
    )
      span(ng-if='vm.itemsGroupProperty') {{ vm.groupLabel(item) }} &nbsp;
      span {{item[vm.itemsNameProperty]}}

  .no-results(ng-if='!vm.filteredData.length')
    span(ng-if='vm.search') Rezultatų nerasta, gal
    span(ng-if='!vm.search') Duomenų nėra, gal
    = ' '
    a(href ng-click='$event.stopPropagation();vm.addClick($event)') pridėti
    = ' '
    span naują įrašą?
