.vfs-dropdown(ng-hide='vm.newItem')

  a(
  uib-popover-template='"app/domain/components/vfsDropdown/vfsDropdown.template.html"'
  popover-is-open='vm.isOpen'
  popover-placement='{{vm.placement || "bottom-left"}}'
  )

    .dropdown-input

      //span(ng-if='vm.itemsGroupProperty && vm.currentItem' ng-bind='vm.groupLabel(vm.currentItem)')

      input.form-control(
      id='{{ vm.inputId }}'
      ng-click='vm.onInputFocus()'
      ng-attr-placeholder= 'Įveskite paieškos tekstą'
      ng-model='vm.dropdownInput'
      ng-focus='vm.onInputFocus()'
      ng-blur='vm.onInputBlur()'
      ng-keydown='vm.onKeyDown($event)'
      )

      span.caret()

  button-edit(ng-if='vm.currentItem.id' button-click='vm.editClick()')
  button-add(button-click='vm.addClick()')

.edit-block(
ng-if='vm.newItem'
ng-class='vm.newItem.isValid(vm.readyState) ? "vfs-valid" : "vfs-invalid"'
)

  .title

    span {{ vm.newItem.id ? '' : vm.newItemTitle }}

    a.save.animate-show(
    href ng-click='vm.saveByUserClick($event)'
    ng-show='vm.newItem.isValid(vm.readyState)'
    )
      i.glyphicon.glyphicon-ok

    a.cancel(href ng-click='vm.cancelClick($event)')
      i.glyphicon.glyphicon-remove

  transform-to-component(
  component-name='{{vm.editComponentName}}'
  ng-model='vm.newItem'
  ready-state='vm.readyState'
  save-fn='vm.saveFn'
  is-valid='vm.componentIsValid'
  )

  // TODO: bind component's hasChanges
