.service-planning-service

  sab-date-picker-input(
  placeholder="{{ vm.servicePlanning.nextServiceDate }}"
  value="vm.newServiceDate"
  init-date="vm.monthDate"
  min-date="vm.minDate || vm.monthDate"
  )

  .service-form(ng-if='vm.newServiceDate')

    service-type-switch(ng-model="vm.type")

    .form-group-1

      input.info.form-control(
      placeholder='{{ vm.placeholder[vm.type].a }}'
      ng-model='vm.newServiceInfo'
      )

    .input-group(ng-if='vm.newServiceDate')

      input.info.form-control(
      placeholder='{{ vm.placeholder[vm.type].b }}'
      ng-model='vm.nextServiceInfo'
      )

      span.input-group-btn
        button.btn.btn-success(
        ng-click='vm.saveItemServiceClick()'
        )
          i.glyphicon.glyphicon-ok